html, body 
{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Logo base config */
.logo img {
    box-shadow:  0 0 20px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
}

/* Hero content/page configuration */
.hero-image 
{
    height: 100%;
    background-image: url(/assets/hero-image-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display:flex;
    flex-direction: column;
}
.hero-text
{
    color: white;
    text-align: center;
    font-family: 'Segoe UI Regular';
}
/* Call to action buttons */
.call-to-action-btn 
{
    margin: 10px 2px 15px 2px;
    display: flex;
    justify-content: center;
}
.call-to-action-btn button
{
    margin-right: 10px;
    border: none;
    text-align: center;
    color: white;
    background-color: transparent;
    font-family: 'Segoe UI Light';
}
/* Footer section config */
footer 
{
    padding: 40px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI Light';
    text-align:center;
}

/* Mobile first, yessuh!*/

/* phones & tablet portraint and up yeee */
@media screen and (max-width: 899px){
    /* Logo config */
    .logo img
    { 
    height: 90px; width: 90px; 
    border: none;
    display: block;
    margin: 0 auto;
    }
    /* Main nav config */
    .main-nav ul 
    {
    list-style-type: none; 
    font-family: 'Segoe UI Light', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px 0 5px 0;
    }
    .main-nav li a 
    {
    color:white;
    text-decoration: none;
    }
    /* Hero-text config */
    .hero-wrapper 
    {
    margin: auto;
    }
    .hero-text-header
    {
    font-family: 'Segoe UI';
    font-size: 3em;
    transform: scale(1, 1);
    }
    .hero-text-subheader
    {
    font-family: 'Segoe UI Light';
    font-size: 1em;
    transform: scale(1.2, 1.2);
    margin-top: -5px;
    }
    /* Call to action configs */
    .call-to-action-btn button
    {
    height: 21px;
    width: 124px;
    border-radius: 20px;
    border: 1px solid white;
    }
    /* Socials configuration */
    .socials 
    {
    display: flex;
    justify-content: center;
    margin-top: auto;
    }
    .socials img
    {
    margin: 0 5px 20px 5px;
    height: 35px;
    width: 35px;
    }
    /* Socials config for bigger screen */
    .socials-up 
    {
        display: none;
    }
    /* footer config */
    footer {font-size: 11px;}
}

/* tablet landscape and desktop up */
@media screen and (min-width: 900px){
    /* Header config for logo,nav, an d socials */
    header
    {
    display: flex;
    }
    /* logo config */
    .logo 
    {
        flex: 1;
    }
    .logo img
    {
    margin-left: 50px;
    height: 127px;
    width: 127px;
    }
    /* main nav config */
    .main-nav 
    {
    margin: auto;
    flex: 1;
    }
    .main-nav ul
    {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    }
    .main-nav a 
    {
    text-decoration: none;
    font-family: 'Segoe UI Light';
    color: white;
    }
    /* Socials config for smaller screen */
    .socials 
    {
    display: none;
    }
    /* Socials config for bigger screen */
    .socials-up
    {
    margin: auto;
    flex: 1;    
    display: flex;
    justify-content: center;
    }
    .socials-up img
    {   
    margin: 0 8px 0 8px;   
    height: 40px;
    width: 40px;
    }
    /* Hero content config */
    .hero-wrapper 
    {
        margin: auto 0 auto 0;
    }
    .hero-text
    {
        margin-left: 50px;
        text-align: start;
    }
    .hero-text-header {font-size: 3.8em;}
    .hero-text-subheader {margin-top:-10px; font-size: 2.5em;}
    /* Call to action buttons config */
    .call-to-action-btn 
    {
        justify-content: start;
        margin-left: 50px;
        margin-top: -20px;
    }
    .call-to-action-btn button 
    {
        padding: 2px 35px;
        font-size: 1em;
        border-radius: 50px;
        border: 1px solid white;
    }
}

/*big desktop up */
@media screen and (min-width: 1800px){
    /* Logo config for big desktop */
    .logo img 
    {
    height: 200px;
    width: 200px;
    }
    /* Main navigation config for big desktop */
    .main-nav
    {
    font-size: 45px;
    }
    /* Hero text config for big desktop */
    .hero-text {text-align:start;font-size: 1.7em;}
    /* call to action button config for big desktop */
    .call-to-action-btn button 
    {
    font-size: 2em;
    }
    /* Socials configuration for big desktop */
    .socials-up img 
    {
    height: 60px;
    width: 60px;
    }

}