/* About page configuration */
.about 
{
    height: 100%;
    background-image: url(/assets/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
/* Page title config */
h1,h2.page-title
{
    margin: 0; 
    padding: 0;
}
/* Card config */
.card_about
{
    margin: auto 0 auto 0;
}
@media screen and (max-width: 899px)
{
 .page-title .title-head 
 {
 color: rgba(173, 173, 173, 0.568);
 text-align: center;
 font-family: 'Segoe UI';
 font-size: 3em;
 margin: 15px auto;
 }
 .page-title .title-next
{
color: white;
margin: -55px auto;
font-family: 'Segoe UI Light';
font-size:1em;
text-align: center;
}
.card_about {
padding: 0;
height: 80%;
width: 80%;
background-color: white;
margin: auto;
margin-top: 90px;
overflow: hidden;
box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
display: flex;
flex-direction: column;
}
.about-photo {
    padding: 10% 0 10% 0;
    background-color: #353636;
    display: flex;
    flex-direction: column;
}
.round-container {
    margin: auto;
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/assets/me-portfolio/me-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-me-text 
{
display: flex;
flex-direction: column;
margin: auto;
}
.about-me-title 
{
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 1.3em;
    margin: auto;
    margin-top: 20px;
}
.about-me-desc 
{
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 0.9em;
}
.about-me-tech {
    text-align: center;
    font-family: 'Segoe UI Light';
    font-size: 1em;
    margin: auto;
}
.about-me-tech-icons
{
display: flex;
justify-content: center;
}
.about-me-tech-icons img 
{
height: 10%;
width: 10%;
margin: auto 5px auto 5px;
}
}

/* tablet landscape, desktop and up */
@media screen and (min-width: 900px)
{
    .page-title .title-head 
    {
    color: rgba(173, 173, 173, 0.568);
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 5em;
    margin: 15px auto;
    }
    .page-title .title-next
   {
   color: white;
   margin: -95px auto;
   font-family: 'Segoe UI Light';
   font-size:2.8em;
   text-align: center;
   }
   .card_about {
   padding: 0;
   height: 70%;
   width: 90%;
   background-color: white;
   margin: auto;
   border: none;
   box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
   display: flex;
   }
   .about-photo {
       padding: 10% 0 10% 0;
       background-color: #353636;
       display: flex;
       flex-direction: column;
       background-image: url(/assets/me-portfolio/me-3.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       height: relative;
       width: 40%;
   }
   .about-me-text 
   {
   display: flex;
   flex-direction: column;
   margin: auto;
   }
   .about-me-title 
   {
       text-align: center;
       font-family: 'Segoe UI Light';
       font-size: 1.3em;
       margin: auto;
       margin-top: 20px;
   }
   .about-me-desc 
   {
       text-align: center;
       font-family: 'Segoe UI Light';
       font-size: 0.9em;
   }
   .about-me-tech {
       text-align: center;
       font-family: 'Segoe UI Light';
       font-size: 1em;
       margin: auto;
   }
   .about-me-tech-icons
   {
   display: flex;
   justify-content: center;
   }
   .about-me-tech-icons img 
   {
   height: 10%;
   width: 10%;
   margin: auto 5px auto 5px;
   }
}
/*desktop and bigger screen and up */
@media screen and (min-width: 1800px)
{
    .page-title .title-head 
    {
    color: rgba(173, 173, 173, 0.568);
    text-align: center;
    font-family: 'Segoe UI';
    font-size: 7em;
    margin: 15px auto;
    }
    .page-title .title-next
   {
   color: white;
   margin: -115px auto;
   font-family: 'Segoe UI Light';
   font-size:3.5em;
   text-align: center;
   margin-bottom: 20px;
   }
    .about-me-title 
    {
        text-align: center;
        font-family: 'Segoe UI Light';
        font-size: 3.3em;
        margin: auto;
        margin-top: 20px;
    }
    .about-me-desc 
    {
        text-align: center;
        font-family: 'Segoe UI Light';
        font-size: 1.9em;
    }
    .about-me-tech {
        text-align: center;
        font-family: 'Segoe UI Light';
        font-size: 3em;
        margin: auto;
    }
}