.project
{
    height: 100%;
    background-image: url(/assets/projects-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.project-header 
{
    margin-top: 60px;
    color: #C4C4C4;
    font-family: 'Segoe UI';
}
.project-subheader 
{
    font-family: 'Segoe UI Light';
}
.mobile-project-box {
    display: none;
}
/* Phones and up */
@media screen and (max-width: 899px)
{
    /* Project page header text config */
    .project-header 
    {
    font-size: 2.8em;
    }
    .project-subheader 
    {
    margin-top: -40px;
    font-size: 1.3em;
    }
    /* Project card for mobile configuration */
    .mobile-project-box 
    {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    }
    .mobile-project-box h1 {
        text-align: center;
        font-family: 'Segoe UI Light';
        padding: 50% 0 100% 0;
    }
    .project-box-card
    {
    height: 60%;
    width: 80%;
    background: white;
    margin: auto;
    box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    }
    .project-up 
    {
        height: 10%;
        width: 10%;
        border: none;
        border-radius: 50%;
        margin: auto;
        background-color: black;
        background-image: url(/assets/btn-asset/arrow-up.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .project-down 
    {
        height: 10%;
        width: 10%;
        border: none;
        border-radius: 50%;
        margin: auto;
        background-color: white;
        background-image: url(/assets/btn-asset/arrow-down.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 900px){
    .project-header 
    {
    font-size: 4.8em;
    }
    .project-subheader 
    {
    margin-top: -70px;
    font-size: 2.3em;
    }
    /* Cards config */
    .card-project-container 
    {
        height: 100%;
        width: 100%;
        display: flex;
    }
    .card-project-1 
    {
        height: 65%;
        width: 25%;
        background: white;
        margin: auto;
        box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    }
    .card-project-2 
    {
        height: 65%;
        width: 25%;
        background: white;
        margin: auto;
        box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    }
    .card-project-3 
    {
        height: 65%;
        width: 25%;
        background: white;
        margin: auto;
        box-shadow:  0 0 20px  rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
    }
}
/*desktop and bigger screen and up */
@media screen and (min-width: 1800px){}